---
export interface Complexity {
  expression: string;
  color: string;
}

export interface Props {
  best: Complexity;
  average: Complexity;
  worst: Complexity;
  space: Complexity;
}
const { best, average, worst, space } = Astro.props;
---

<table>
  <tr>
    <th colspan="4">Big O Notation</th>
  </tr>
  <tr>
    <td colspan="3">Time complexity</td>
    <td>Space complexity</td>
  </tr>
  <tr>
    <td>Worst</td>
    <td>Average</td>
    <td>Best</td>
    <td>Worst</td>
  </tr>
  <tr>
    <td class={worst.color}>O({worst.expression})</td>
    <td class={average.color}>Θ({average.expression})</td>
    <td class={best.color}>Ω({best.expression})</td>
    <td class={space.color}>O({space.expression})</td>
  </tr>
</table>

<style lang="scss">
  table {
    border-radius: 0.2em;
    border-spacing: 0;

    td,
    th,
    li {
      width: 25%;
      border-bottom: 0.15rem solid white;
      padding: 0.5em 0.25em;
      text-align: center;
      margin: 0;
    }
    td,
    li {
      &.green {
        background-color: green;
      }

      &.orange {
        background-color: orange;
      }
      &.red {
        background-color: red;
      }
    }

   
  }
</style>
