---
import SortNav from "../components/visualiser/sortnav/SortNav.astro";
import BigONotation, {
  Complexity,
} from "../components/visualiser/description/BigONotation.astro";
import Visualizer from "../components/visualiser/Visualizer.astro";
import Layout from "./Layout.astro";

export interface Props {
  title: string;
  best: Complexity;
  average: Complexity;
  worst: Complexity;
  space: Complexity;
}

const { title, best, average, worst, space } = Astro.props;
---

<Layout title={title}>
  <section class="container">
    <SortNav />
    <Visualizer />

    <div class="description">
      <div class="explanation">
        <h3>{title}</h3>
        <slot />
      </div>

      <a aria-disabled="true" class="btn">Code coming soon</a>
      <div class="onotation">
        <BigONotation
          worst={worst}
          best={best}
          average={average}
          space={space}
        />
        <p>
          Big O Notation defines the lower, average and upper bounds of an
          algorithm, where Time complexity determines the amount of operations,
          and Space complexity the amount of memory that can be used
        </p>
      </div>

      <div class="canvas">
        <a href="https://chechu.dev">
          <div class="background"></div>
          <div class="background-a"></div>

          <img
            width="350"
            height="300"
            src="/img/ChechuDEV.png"
            alt="Chechu DEV"
          />
        </a>
        <!--<canvas id="graph" width="350" height="300"> </canvas>-->
        <!--<span>Work in progress</span>-->
      </div>
    </div>
  </section>
</Layout>

<style lang="scss">
  .description {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 720px) {
      width: 100%;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    width: auto;

    @media (max-width: 720px) {
      flex-direction: column;
      width: 90%;
    }
  }

  .onotation {
    width: 350px;
     @media (max-width: 720px) {
      width: 100%;
    }
  }
  canvas {
    background-color: white;
    border-radius: 0.2em;
    width: 360px;
    height: 300px;
    background-image: repeating-linear-gradient(
        #ccc 0 1px,
        transparent 1px 100%
      ),
      repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
    background-size: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .canvas {
    position: relative;
    height: 300px;
   
    span {
      position: absolute;
      color: #999;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-weight: 600;
      font-size: 40px;
      text-align: center;
    }

    a {
        margin-right: auto;
        margin-left: auto;
         width: 350px;
         height: 300px;
      display: block;
      border-radius: 0.2em;
      position: relative;

@media (max-width: 400px) {
    width: 175px;
    height: 150px;
}      
      &:hover {
        img {
          bottom: -2.5px;
          left: 2.5px;
        }

        .background {
          bottom: 2.5px;
          left: -2.5px;
        }
        .background-a {
          bottom: -7.5px;
          left: 7.5px;
        }
      }
      .background {
        position: absolute;
        border-radius: 0.2em;
        bottom: 0;
        left: 0;
        background-color: #ff9e00;
        width: 350px;
        height: 300px;
        transition: all 250ms ease-in-out;
        
@media (max-width: 400px) {
    width: 175px;
    height: 150px;
}      
      }
      .background-a {
        position: absolute;
        border-radius: 0.2em;
        bottom: 0;
        left: 0;
        background-color: #9d4edd;
        width: 350px;
        height: 300px;
        transition: all 250ms ease-in-out;
        
@media (max-width: 400px) {
    width: 175px;
    height: 150px;
}      
      }
      img {
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 0.2em;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.2);
        transition: all 250ms ease-in-out;

        object-fit: cover;

@media (max-width: 400px) {
    width: 175px;
    height: 150px;
}        
      }
    }
  }

  .btn {
    width: 100%;

    height: 40px;
    margin-bottom: 1em;
    @media (max-width: 764px) {
      width: 100%;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: black;
    cursor: not-allowed;

    border: 0.15rem solid white;
    border-radius: 0.2em;
    outline: none;

    background-color: white;

    transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
  }

  .hidden {
    display: none;
  }

  #discover {
    display: block;
    margin-bottom: 1em;
  }
</style>
